.login-modal {
  transition: all 300ms;
  opacity: 0;
  pointer-events: none;
  z-index: 100;
  &--active {
    opacity: 1;
    pointer-events: all;
  }

  &__content {
    min-width: 500px;
    transition: all 300ms;
  }
}

@media screen and (max-width: 768px) {
  .login-modal {
    width: 90vw;
    &__content {
      min-width: 90vw;
    }
  }
}
